extends layout

block content
    h1= title
    p Welcome to #{title}
    div#inputPart
        input.titleInput(type="text" name="title" placeholder="タイトルを入力" size="30" maxlength="20")
        textarea.contentInput(rows="10" cols="60" placeholder="内容を入力")
    div#submitPart
        button.update update
        button.delete delete
    script(src='/js/detail.js')
